.page {
  animation-duration: var(--animation-speed, 1s);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.out_1 { animation-name: out_1; }
@keyframes out_1 {
  0% { top: 0vh; }
  100% { top: -90vh; }
}

.out_2 { animation-name: out_2; }
@keyframes out_2 {
  0% { transform: translate(0vh,0vh) rotate(0deg) scale(1, 1); }
  30% { transform: translate(2vh,-15vh) rotate(-15deg) scale(1, 1); }
  95% { transform: translate(10vh,-100vh) rotate(-18deg) scale(1, 1); }
  100% { transform: translate(0vh,-200vh) rotate(-18deg) scale(2, 2); }
}

.in_1 { animation-name: in_1; }
@keyframes in_1 {
  0% { top: -100vh; }
  100% { top: 0vh; }
}

.in_2 { animation-name: in_2 /* , blurin_A */ ; }
@keyframes in_2 {
  0% { transform: translate(-20vh,-100vh) rotate(-8deg) scale(1.7, 1.7); }
  40% { transform: translate(-10vh,-15vh) rotate(-7deg) scale(1, 1); }
  95% { transform: translate(0.1vh,0.3vh) rotate(0.5deg) scale(1, 1); }
  100% { transform: translate(0vh,0vh) rotate(0.6deg) scale(1, 1); }
}

@keyframes blurin_A {
  0% { filter: blur(50px) opacity(10%); }
  40% { filter: blur(0px) opacity(100%); }
  100% { filter: blur(0px) opacity(100%); }
}

.move-in { animation-name: move-in; animation-duration: 1.3s; }
@keyframes move-in {
  0% { transform: translateY(-10vh); }
  100% { transform: translateY(0vh); }
}
