#hof_title .title .line2 {
    position: relative;
    left: -2.3vw;
}

#hof_definition .clipping {
    clip-path: polygon(86.31% 72.24%, 56.63% 74.47%, 56.47% 92.41%, 53.56% 92.11%, 27.14% 92.65%, 8.59% 91.07%, 1.15% 90.46%, 1.12% 69.55%, 0.09% 67.53%, 0.32% 46.9%, 2.42% 46.49%, 2.26% 30.96%, 0.97% 30.21%, 1.06% 9.32%, 90.56% 9.03%, 90.51% 29.84%, 89.1% 30.54%, 89.03% 33.4%, 91.34% 34.03%, 91.45% 51.19%, 86.68% 51.78%)
}

#hof_definition2 .clipping {
    clip-path: polygon(79.99% 64.75%, 60.35% 64.49%, 60.19% 85.28%, 53.56% 86.05%, 27.29% 86.95%, 8.81% 87.86%, 2.19% 87.61%, 2.31% 61.35%, 1.80% 60.41%, 2.11% 42.97%, 2.64% 42.22%, 2.71% 39.15%, 0.83% 38.76%, 1.06% 9.32%, 90.04% 9.03%, 89.99% 38.75%, 82.63% 39.81%, 82.71% 42.66%, 83.54% 42.59%, 83.72% 65.44%, 82.44% 64.6%)
}

#hof_php_examples_title .line2 {
    position: relative;
    left: 6.5vw;
}

#hof_php_examples ul {
    font-size: 4vw;
    line-height: 120%;
    list-style-type: square;
}

#hof_laravel_examples_title .line2 {
    position: relative;
    /* left: -1.4vw; */
}

#hof_laravel_examples h1 {
    margin-bottom: 1vh;
}
#hof_laravel_examples .split {
    display:flex; 
    flex-direction: row;
}
#hof_laravel_examples ul {
    flex-grow: 1;
    padding: 0;
    font-size: 2vw;
    line-height: 110%;
    list-style-type: none;
    text-align: center;
}

#tink_doc .split p {
    text-align: left;
}

