

.title_container {
    width: 80vw;
    margin: auto;
    /* border: solid 1px orangered; */
}

.title_container h1 {
    color: white;
    font-family: var(--header-font-family, 'Mitr');

    font-weight: var(--header-font-weight, 500);
    line-height: var(--header-line-height, 82%);
    font-size: var(--header-font-size, 6.8vw);

    /* text-shadow: -1px 0px 0 red, +1px 0px 0 cyan; */
    text-shadow: calc(var(--anaglyph-size, 1px) * -1) 0px 1px red, calc(var(--anaglyph-size, 1px)) 0px 1px cyan;
}

.page.off{
    top: -100vh;
}

.title_container h1 .undelined {
    text-decoration: underline;
}

#page_01 .title .line2 {
    position: relative;
    left: 2.7vw;
}

#page_01 .page_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.finger {
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
}

.finger.finger_01 {
    width: 25vw;
    height: 15vw;
    clip-path: polygon(0% 0%, 27% 0%, 34.36% 16.29%, 37.26% 27.35%, 38.15% 37.83%, 35.98% 45.65%, 32.34% 48.23%, 27.52% 48.36%, 23.61% 45.31%, 19.45% 40.12%, 15.8% 33.6%, 12.16% 25.35%);
}

.finger.finger_02 {
    width: 25vw;
    height: 15vw;
    clip-path: polygon(0% 0%, 33.76% 0%, 47.89% 31.06%, 51.48% 42.12%, 52.14% 52.61%, 50.44% 59.26%, 46.79% 64.95%, 42.68% 70.13%, 37.14% 70.97%, 32.27% 66.16%, 23.03% 44.1%, 18.46% 33.9%);
}

.hand_01 .finger_01 {
    left: 10vw;
    top: -4vw;
}

.hand_01 .finger_02 {
    left: 0vw;
    top: -2vw;
    transform: rotate(10deg);
}